<app-loading [isLoading]="isLoading$ | async"></app-loading>
<div id="map" style="width: 100%; height: 60vh; background: gray"></div>
<div style="width: 100%; padding: 0 1rem">
  <mat-form-field appearance="fill">
    <mat-label>Координаты поля</mat-label>
    <input matInput placeholder="WKT">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Дата</mat-label>
    <mat-select>
      <mat-option *ngFor="let folder of folderList | async"
                  [value]="folder">
        {{ folder }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
