<app-loading [isLoading]="isLoading$ | async"
             [message]="(progress$ | async).message"
             [progressValue]="(progress$ | async).cur_progress"></app-loading>
<app-map></app-map>
<div style="width: 100%; padding: 1rem">
  <mat-form-field appearance="standard" style="margin-right: 1rem; width: 58%">
    <mat-label>Координаты района</mat-label>
    <input matInput placeholder="WKT" [(ngModel)]="polygonCoords">
  </mat-form-field>
  <mat-form-field appearance="standard" style="margin-right: 1rem;">
    <mat-label>Дата</mat-label>
    <mat-select [(ngModel)]="selectedDate">
      <cdk-virtual-scroll-viewport itemSize="48" [style.height.px]="5*48" minBufferPx="300" maxBufferPx="300">
        <mat-option *cdkVirtualFor="let folder of folderList$ | async"
                    [value]="folder">
          {{ folder }}
        </mat-option>
      </cdk-virtual-scroll-viewport>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="drawPolygon()" style="margin-right: 1rem">Нарисовать район</button>
  <button mat-raised-button color="primary" (click)="calcNDVI()">Расчёт NDVI</button>
</div>
<mat-form-field appearance="fill" style="padding-left: 1rem; width: 98%">
  <mat-label>Результаты расчета NDVI</mat-label>
  <textarea matInput [value]="result$ | async" readonly style="height: 6rem"></textarea>
</mat-form-field>

